.l_container {
 padding: 0 5%;

}
.l_header {
  text-align: center;
  h1 {
    font-size:2.6em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
   }
  h2 {
    font-size: 2.8em; // 36 /16;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
  }
}
.l_article {

}
.l_footer {

}